.formOutros{
    display: flex;
    flex-direction: column;
    position: relative;
}
.formOutros input{
    background-color: rgba(255,255,255,0);
    border: 1px solid #ffffff;
    border-radius: 5px;
    color: #ffffff;

    padding: 10px 5px;
    margin: 5px 0 10px;
    
    font-size: 16px;
}
.formOutros select{
    border-radius: 5px;
    padding: 1px 5px;
    margin-bottom: 10px;
    
    border: 1px solid #ffffff;
    background-color: rgba(255,255,255,0);
    color: #ffffff;
}
.formOutros option{
    padding: 7px 5px;
    margin: 5px 0;

    border-radius: 5px;
    background-color: rgba(255,255,255,0.2);

    overflow: hidden;
}